html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
        meta(charset='utf-8')
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
        link(rel='stylesheet' type='text/css' href='app.css')
        title Overwatch
    body
      div(class="PageContainer")
        section(id="header-container", class="Header")
          div(class="Header-left")
            button(class="Header-hamburguer")
              i(class="fa fa-bars", aria-hidden="true")
            div(class="Header-logoContainer")
              a(href="#")
                img(class="Header-logo", src="nav-logo.png")
          div(class="Header-center")
            input(class="Header-input" type="text", placeholder="Buscar a un jugador")
          div(class="Header-right")
            ul(class="Header-list")
              li(class="Header-listItem") 
                a(href="#" class="Header-listLink") Iniciar Sesion
              li(class="Header-listItem") 
                a(href="#" class="Header-listLink") Comprar
            
        section#main-container
        section#footer-container
        
        script(type='application/javascript' src='app.js')
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        